<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Clicker</title>
</head>
<body ng-app= 'RobotClicker' ng-controller= 'RobotController'>
    <h1> you have clicked {{numClicks}} time</h1>
    <input type="text" ng-model="robotName">
    <h3>your robot name {{robotName}}</h3>
    <img ng-click="handleClick()"src="https://image.freepik.com/free-vector/coloured-robot-design_1148-9.jpg" alt="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script>
    var app =angular.module('RobotClicker',[]);
    app.controller('RobotController', ['$scope', function($scope){
        $scope.numClicks=0;
        $scope.robotName="obama";
        $scope.handleClick=function (){
            $scope.numClicks++;

        }
    }]);


    </script>

</body>
</html>
